body{
    background-color: #e9e9e9;
}

.explain {
  max-width: 300px;
  margin: 0 auto;
}

a.explain_button {
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 1rem .5rem;
  background-color: #949499fb;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
}
a.explain_button:hover {
  background: #000000;
}
a.explain_button span {
  position: relative;
  padding-left: 36px;
}
a.explain_button span:before {
  content: '';
  width: 26px;
  height: 26px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -13px;
}
a.explain_button span:after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: 3px solid #949499fb;
  border-right: 3px solid #949499fb;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 7px;
  margin-top: -5px;
}
a.explain_button:hover span:after {
  border-top: 3px solid #000000;
  border-right: 3px solid #000000;
}


.top{
    display: flex;
    font-size: 10px;
}

.top img{
    width: 20px;
    margin-right: 5px;
}


.main{
    text-align: center;
    margin-top: 50px;
}

.main img{
    width: 300px;

}


a.main_send {
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 1rem .5rem;
  background-color: #484ae2;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
}
a.main_send:hover {
  background: #7375e6;
}

a.main_send:hover span:after {
  border-top: 3px solid #7375e6;
  border-right: 3px solid #7375e6;
}
