body{
  text-align: center;

}

.question{
  margin: 20px;
}

body ul{
    list-style-type: none;
    background-color: #ffffff;
    display: table;
    padding: 0;
    margin: 0 auto;
}

body button{
  width: 150px;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

